.p1 {
  background-color: aqua;
  overflow: scroll;
  width: 500px;
  height: 200px;
  border: dotted red;
  border-width: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}

.p2 {
  background-color: aqua;
  overflow: scroll;
  width: 500px;
  height: 200px;
  border-style: solid;
  border-color: green;
  border-width: 5px;
  padding: 10px;
}

.p3 {
  background-color: aqua;
  overflow: scroll;
  width: 500px;
  height: 200px;
  border-style: dashed;
  border-color: blue;
  border-width: 20px;
  margin-top: 50px;
  padding: 10px;
}
